<!DOCTYPE html>
<html>
<head>
    <title>Employee Management</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Employee Management System</h1>

<a href="/add">Add Employee</a>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Department</th>
        <th>Action</th>
    </tr>

    {% for emp in employees %}
    <tr>
        <td>{{ emp[0] }}</td>
        <td>{{ emp[1] }}</td>
        <td>{{ emp[2] }}</td>
        <td>{{ emp[3] }}</td>
        <td>
            <a href="/delete/{{ emp[0] }}">Delete</a>
        </td>
    </tr>
    {% endfor %}

</table>

</body>
</html>
